.App {
  display: flex;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  margin-top: 5px; 
  margin-bottom: 5px; 
}

h3 {
  margin: 5px 0; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 5px 0; 
}

li {
  margin: 3px 0; 
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}

.dropdown-menu {
  border-width: 1px; 
  border-style: solid;
  border-color: #cac; 
  border-radius: px; 
}

.provider-button {
  border-width: .2px; /* Adjust the border thickness (e.g., 1px or smaller) */
  border-style: solid; /* Ensures the border is visible */
  border-color: #ccc; /* Optionally set a color */
  padding: 5px 10px; /* Adjust padding as needed */
  border-radius: 4px; /* Optional: Add or remove rounding of corners */
}